.container {
	width: 1200px;
	margin: 0 auto;
	padding: 140px 0 0 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	background: white;
	padding: 40px;
	border-radius: 15px 15px 0 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.container-error-message {
	position: fixed;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 500;
	bottom: 150px;
	background: rgba(255, 0, 0, .6);
	border: 2px solid  rgba(153, 36, 36, .6);
	border-radius: 10px;
	text-align: center;
	left: 50%;
    transform: translateX(-50%);
}
